.grid{
    margin-left:  0;
}

h3#filter-name {
    text-align: center;
    color: #222;
}

::selection {
    background: #28C7FA;
    color: #F5F5F5;
}

h1#title {
    color: #28C7FA;
}

h3#prompt {
    color: #28C7FA;
}

a#feedback {
    color: #28C7FA;
    font-weight: 900;
    font-size: 14px;
}

a.thumbnail:hover {
    border-color: #28C7FA;
}

img#bw{
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

img#blur{
  -webkit-filter: blur(5px); 
  filter: blur(5px);
}

img#bright {
  -webkit-filter: brightness(200%); 
  filter: brightness(200%);
}

img#contrast{
  -webkit-filter: contrast(200%); 
  filter: contrast(200%);
}

img#dShadow{
  -webkit-filter: drop-shadow(8px 8px 10px grey); 
  filter: drop-shadow(8px 8px 10px grey);
}

img#hueRot{
  -webkit-filter: hue-rotate(90deg);
  filter: hue-rotate(90deg);
}

img#invert{
  -webkit-filter: invert(100%); 
  filter: invert(100%);
}

img#opac{ 
  -webkit-filter: opacity(30%); 
  filter: opacity(30%);
}

img#sat{
  -webkit-filter: saturate(800%); 
  filter: saturate(800%);
}

img#sep{
  -webkit-filter: sepia(100%); 
  filter: sepia(100%);
}

img#mul {
    -webkit-filter: blur(2px) grayscale(0.5) opacity(0.8);
    filter: blur(2px) grayscale(0.5) opacity(0.8);
}
